@import '../layout/element.scss';
.list {
    @include list(row);
    background: #ffffff;
    padding-top: 40px;
    padding-bottom: 20px;
    justify-content: space-around;
    text-decoration: none;
    .list-item {
        text-align: center;
    }
}