@import '../../../core/layout/element.scss';
.auto-slider {
    margin-top: 40px;
    h4 {
        font-size: 26px;
        margin-top: 12px;
        color: #666;
    }
    img {
        width: 100%;
    }
}

.list {
    @include list(row);
    background: #ffffff;
    font-size: 26px;
    padding-top: 40px;
    padding-bottom: 20px;
    justify-content: space-around;
    text-decoration: none;
    .list-item {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #666;
        img {
            display: inline-block;
            width: 90px;
            height: 90px;
        }
        .list-text {
            text-decoration: none;
            margin-top: 6px;
        }
        &.red {
            color: #f00;
        }
    }
}