@import '../../../core/layout/element.scss';
.quick-borrow {
    @include panel;
    .content {
        padding-bottom: 40px;
        img {
            display: block;
            width: 100%;
        }
    }
}