.home {
    .crowdfunding {
        .arrow {
            position: absolute;
            font-size: 28px;
            color: #999;
            right: 10px;
            top: 0px;
            line-height: 112px;
        }
    }
}