@charset 'utf-8';
@import '../../../core/layout/element.scss';
.crowd-funding {
    .in {
        .panel {
            @include panel;
            .item {
                &>img {
                    width: 100%;
                    display: block;
                }
                .list {
                    @include list(row);
                    text-align: center;
                    font-size: 28px;
                    .production {
                        &:first-child {
                            margin: 0 10px 0 20px;
                        }
                        &:last-child {
                            margin: 0 20px 0 10px;
                        }
                        position: relative;
                        width: calc( 50% - 30px);
                        height: 396px;
                        box-sizing: border-box;
                        background: rgba(0, 0, 0, 0.02);
                        img {
                            width: 180px;
                            height: 180px;
                            margin: 44px auto 20px;
                        }
                        .title {
                            color: #444;
                        }
                        .price {
                            font-size: 20px;
                            color: #999999;
                            em {
                                margin-right: 8px;
                                font-size: 36px;
                                color: #ff3636;
                                &:before {
                                    content: '￥';
                                    font-size: 28px;
                                }
                            }
                        }
                        article {
                            @include list(row);
                            height: 48px;
                            align-items: center;
                            font-size: 24px;
                            justify-content: center;
                            color: #999;
                            .wrapper {
                                width: 144px;
                                height: 10px;
                                background: #ddd;
                                margin-right: 8px;
                                border-radius: 22px;
                                overflow: hidden;
                                .inner {
                                    width: 40%;
                                    height: 10px;
                                    background: linear-gradient(270deg, #f55 1%, #ff9c31 100%);
                                    border-radius: 22px;
                                }
                            }
                        }
                        .end {
                            color: #999999;
                            background: #ededed;
                            height: 48px;
                        }
                        label {
                            position: absolute;
                            left: 0;
                            top: 0;
                            font-size: 20px;
                            color: #f00;
                            text-align: center;
                            padding: 4px 8px;
                            background-image: linear-gradient(-35deg, #c1c1c1 0, #acacac 100%);
                        }
                    }
                }
            }
        }
    }
}