@import '../../../core/Panel/Panel.scss';
.white-note {
    .note-bonus {
        .item {
            @include list(row);
            height: 140px;
            align-items: center;
            position: relative;
            img {
                width: 90px;
                height: 90px;
                margin: 0 32px;
            }
            h4 {
                font-size: 32px;
                color: #333;
                font-weight: normal;
            }
            p {
                font-size: 24px;
                color: #999999;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            >em {
                font-size: 28px;
                color: #ff801A;
                position: absolute;
                right: 40px;
            }
        }
    }
}